@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black text-white antialiased;
  }
}

@layer utilities {
  .animate-fade-in-down {
    animation: fadeInDown 1s ease-out;
  }

  .animate-fade-in-up {
    animation: fadeInUp 1s ease-out;
  }

  .animation-delay-200 {
    animation-delay: 0.2s;
    animation-fill-mode: both;
  }

  .animation-delay-400 {
    animation-delay: 0.4s;
    animation-fill-mode: both;
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
